h1 {
    text-align: center;
    font-size: 500%;
}

p {
    text-align: right;
    margin-right: 10%;
    font-size: 70px;
}
input {
    transform: scale(3);
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 10%;
}